<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABFwnnqhwuNJ_QuwyFZIklHopoTxTo-ZE</string>
	<key>GCM_SENDER_ID</key>
	<string>755770026345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookingAssist</string>
	<key>PROJECT_ID</key>
	<string>cooking-assistant-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cooking-assistant-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755770026345:ios:b78665446c3fcc5e0af5f8</string>
</dict>
</plist>